<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online market</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navBar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
</head>
<body ng-app="app">
<div th:insert="startPage :: bar"></div>
<div class="ui-form" ng-controller="ContactInformationController">
    <h3 th:text="#{editInformation}"></h3>
    <div class="form-row">
        <input type="text" ng-model="contactInformation.homeAddress.city" name="city" required autocomplete="off"
               id="city">
        <label for="city" th:text="#{city}"> </label>
    </div>
    <div class="form-row">
        <input type="text" ng-model="contactInformation.homeAddress.street" name="street" required autocomplete="off"
               id="street">
        <label for="street" th:text="#{street}"></label>
    </div>
    <div class="form-row">
        <input type="text" ng-model="contactInformation.homeAddress.house" name="house" required autocomplete="off"
               id="house">
        <label for="house" th:text="#{house}"></label>
    </div>
    <div class="form-row">
        <input type="text" ng-model="contactInformation.homeAddress.number" name="number" required autocomplete="off"
               id="number">
        <label for="number" th:text="#{apartmentNumber}"></label>
    </div>
    <div class="form-row">
        <input type="tel" ng-model="contactInformation.telephone" pattern="\+375-[0-9]{2}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
               th:name="telephone" required autocomplete="off" id="telephone">
        <label for="telephone" th:text="#{telephone}"></label>
    </div>
    <div class="form-row">
        <input type="text" ng-model="contactInformation.email" th:name="email" required autocomplete="off" id="email">
        <label for="email" th:text="#{email}"></label>
    </div>
    <input type="submit" onclick="editInformation()" th:value="#{addProduct.save}">
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/angular.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/editContactInformation.js}"></script>
</body>
</html>